<!--
Copyright (c) 2017 Intel Corporation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<launch>
  <arg name="manager" />
  <arg name="input_topic" default="/camera/rgb/image_raw" />
  <arg name="output_topic" default="/movidius_ncs_nodelet/classified_objects" />
  <arg name="max_device_number" default="255" />
  <arg name="start_device_index" default="0" />
  <arg name="log_level" default="0" />
  <arg name="cnn_type" default="googlenet" />
  <arg name="param_file" default="$(find movidius_ncs_launch)/config/googlenet.yaml" />
  <arg name="top_n" default="3" />

  <node pkg="nodelet" type="nodelet" name="movidius_ncs_stream"
        args="load movidius_ncs_stream/NCSNodelet $(arg manager)"
        output="screen">
      <remap from="/camera/rgb/image_raw" to="$(arg input_topic)" />
      <remap from="classified_objects" to="$(arg output_topic)" />
      <param name="max_device_number" value="$(arg max_device_number)" />
      <param name="start_device_index" value="$(arg start_device_index)" />
      <param name="log_level" value="$(arg log_level)" />
      <param name="cnn_type" value="$(arg cnn_type)"  />
      <param name="top_n" value="$(arg top_n)" />
      <rosparam command="load" file="$(arg param_file)" />
  </node>
</launch>

