<!--
Copyright (c) 2017 Intel Corporation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<launch>
  <arg name="manager" default="movidius_manager" />
  <arg name="namespace" default="movidius_ncs_nodelet" />
  <arg name="input_topic" default="/camera/color/image_raw" />
  <arg name="output_topic" default="classified_object" />
  <arg name="color_width" default="640" />
  <arg name="color_height" default="480" />
  <arg name="device_index" default="0" />
  <arg name="log_level" default="1" />
  <arg name="graph_file_path" default="/opt/movidius/examples/caffe/GoogLeNet/graph" />
  <arg name="category_file_path" default="/opt/movidius/examples/data/ilsvrc12/categories.txt" />
  <arg name="network_dimension" default="224" />
  <arg name="channel1_mean" default="0.40787054" />
  <arg name="channel2_mean" default="0.45752458" />
  <arg name="channel3_mean" default="0.48109378" />
  <arg name="top_n" default="3" />

  <group ns="$(arg namespace)">
    <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen" />

    <include file="$(find movidius_ncs_launch)/launch/includes/ncs_stream.launch">
      <arg name="manager" value="$(arg manager)" />
      <arg name="input_topic" value="$(arg input_topic)" />
      <arg name="output_topic" value="$(arg output_topic)" />
      <arg name="device_index" value="$(arg device_index)" />
      <arg name="log_level" value="$(arg log_level)" />
      <arg name="graph_file_path" value="$(arg graph_file_path)" />
      <arg name="category_file_path" value="$(arg category_file_path)" />
      <arg name="network_dimension" value="$(arg network_dimension)" />
      <arg name="channel1_mean" value="$(arg channel1_mean)" />
      <arg name="channel2_mean" value="$(arg channel2_mean)" />
      <arg name="channel3_mean" value="$(arg channel3_mean)" />
      <arg name="top_n" value="$(arg top_n)" />
    </include>
  </group>

  <include file="$(find realsense_ros_camera)/launch/rs_camera.launch">
      <arg name="color_width" value="$(arg color_width)" />
      <arg name="color_height" value="$(arg color_height)" />
  </include>
</launch>
